.log {width:280px;height:200px;}
.account {margin-left:10px;width:55px; float:left;position:relative;}
.input_name {float:left; border:1px; position:relative;}
.text{border:1px;}
.password {margin-left:10px;width:55px; float:left;position:relative;}
.input_pwd {float:left;}
.zhmm {width:60px;float:left;position:relative;border:0px;}
